.login-box {
	width: 475px;
	height: 500px;
	justify-content: center;
	align-items: center;
	display: flex;
	flex-direction: column;
	background-color: rgba(236, 241, 247, 0.5);
	border-radius: 10px;
	border: #808080 solid 1px;

}
.image-container {
	flex-direction: row;
  position: absolute;
  top: 75px;
  justify-content: space-evenly;
  align-items: center;
  display: flex;
  height: 100px;
  width: 60%;
}

.login-box h1 {
	font-size: 30px;
	font-weight: 500px;
	color: #000;
}

.image-overlay .login-box .image-container .logo {
  width: 75px;
  height: 75px;
	display: inline-block;
	transform: translateX(0%);
	position: relative;
} 

.login-box a {
	margin-top: 5px;
	align-self: flex-end;
	padding-right: 75px;
	cursor: pointer;
	color: #30BE7A;
}

.login-box button {
	margin-top: 2rem;

}
.errorwrapper {
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100vh;
	flex-direction: column;
	display: flex;
	position: relative;
}

.container .image-overlay .errorwrapper .error-logo {
	width: 30%;
	height: auto;
    transform: translateX(0%);
    position: relative;
    align-self: center;
}

.login-container-row {
  width: 50%;
  height: 100vh;
  float: left;
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
}

.img-bck {
	background-color: #30BE7A;
}

.img-bck p {
	margin-top: 0px;
	color: #fff;
	font-size: 30px;
}

.img-bck h1 {
	margin-top: 10px;
	margin-bottom: 0px;
	color: #fff;
	font-size: 100px;
	font-weight: 900;
	font-family: 'Montserrat';
}


