.data-container {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
    width: 100%;

}

.data-header {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.newsletter-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;

}

.data-header p {
    margin-top: 0px;
}

.data-body {
    padding: 5px 5px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    display: flex;
}

.container .image-overlay .data-container .data-body img {
    width: 100%;
    height: 200;
	display: inline-block;
	transform: translateX(0%);
	position: relative;
    object-fit: cover;
}

.container .image-overlay .data-container .data-body p {

  text-align: justify;
  text-indent: 10px;
  color: #30BE7A;
  font-size: 16px;
  font-weight: 400;

}

.form-container {
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.form-container h1 {
    text-align: center;
    font-weight: 600;
    color:#30BE7A;
    margin-bottom: 0px;
}

.form-container h5 {
    text-align: center;
    font-size: 14px;
    font-weight: 400;
    color:#30BE7A;
    padding: 10px 10px;
    margin-top: 0px;
}

.form-wrapper {
	width: 375px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
    margin-bottom: 20%;
    padding-bottom: 20px;

}
.form-wrapper1 {
	width: 375px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	border-radius: 5px;
    padding-bottom: 20px;

}

.school-select-container {
    margin: 10px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
    border-radius: 10px;
}
.school-select {
    background-color: #30BE7A;
    color: #fff;
    width: 125px;
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;

}

.unselected {
    background-color: #ffff;
    color: #30BE7A;
    width: 125px;
    margin: 10px;
    padding: 10px 10px;
    text-align: center;
    cursor: pointer;
    border-radius: 10px;
}
